{$DOMAIN_NAME} {
    handle /notifications/socket.io* {
        reverse_proxy backend:3000
    }

    handle /conversations/socket.io* {
        reverse_proxy backend:3000
    }

    handle_path /api/* {
        reverse_proxy backend:3000
    }
    
    handle {
        reverse_proxy frontend:80
    }
}
